<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренажёр по языкам программированиям</title>
        <link rel="icon" href="{{ url_for('static', filename='imog/nebo.jpg') }}" type="image/x-icon" />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='imog/nebo.jpg') }}"
            type="image/x-icon"
        />
    <link href="{{ url_for('static', filename='css/python.css') }}" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <h1 class="page-heading">Знакомство с тегами</h1>
        </div>
    </header>
    <main class="container">
        <div class="game-zones">
            <section class="form-wrapper">
                <form id="heroForm" class="form">
                    <div class="form-div">
                        <h1 class="page-heding"> теги </h1>
                        <p>HTML-элементы — основа языка HTML. Каждый HTML-документ состоит из дерева HTML-элементов
                            и текста. Каждый HTML-элемент обозначается начальным (открывающим) и конечным (закрывающим)
                            тегом. Открывающий и закрывающий теги содержат имя элемента.</p>
                        <p>Все HTML-элементы делятся на пять типов:</p>
                        <p>1) пустые элементы: area, base, br, col, embed, hr, img, input, link, menuitem, meta, param,
                            source, track, wbr</p>
                        <p>2) элементы с неформатированным текстом: script, style</p>
                        <p>3) элементы, выводящие неформатированный текст: textarea, title</p>
                        <p>4) элементы из другого пространства имён: MathML и SVG</p>
                        <p>5) обычные элементы: все остальные элементы.</p>
                        <p>список HTML-элементов</p>
                    </div>
                </form>
                <img src="/static/imog/tegi.jpg" class="imog-a">
                <img src="/static/imog/tegi1.jpeg" class="imog-a">
                <img src="/static/imog/tegi2.png" class="imog-a">
            </section>
        </div>
    </main>
</body>
</html>
