<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренажёр по языкам программированиям</title>
        <link rel="icon" href="{{ url_for('static', filename='imog/nebo.jpg') }}" type="image/x-icon" />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='imog/nebo.jpg') }}"
            type="image/x-icon"
        />
    <link href="{{ url_for('static', filename='css/python.css') }}" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <h1 class="page-heading">Текст</h1>
        </div>
    </header>
    <main class="container">
        <div class="game-zones">
            <section class="form-wrapper">
                <form id="heroForm" class="form">
                    <div class="form-div">
                        <h1 class="page-heding">Текст</h1>
                        <h3 class="page-heding">Заголовки</h3>
                        <p>Большинство HTML документов имеют заголовок. Для его создания используют теги «Hn»…«/Hn»,
                            где n число от 1 до 6.</p>
                    </div>
                </form>
                <img src="/static/imog/zagalovki.jpg" class="imog-a">
                <form id="herForm" class="form">
                    <div class="form-div">
                        <h3 class="page-heding">Форматирование текста</h3>
                        <p>Элемент «b»: Задаёт полужирное начертания шрифта. Выделяет текст без акцента на
                            его важность. </p>
                        <p>Элемент «em»: Отображает шрифт курсивом, придавая тексту значимость.</p>
                        <p> Элемент «i»: Отображает шрифт курсивом.</p>
                        <p>Элемент «small»: Уменьшает размер шрифта на единицу по отношению к обычному тексту.</p>
                        <p>Элемент «strong»: Задаёт полужирное начертание шрифта, относится к элементам логической
                            разметки, указывая браузеру на важность текста.</p>
                        <h3 class="page-heding">Ввод «компьютерного» текста</h3>
                        <p> Элемент «code»: Служит для выделения фрагментов программного кода.
                            Отображает текст моноширинным шрифтом.</p>
                        <p>Элемент «kbd»: Отмечает фрагмент как вводимый пользователем с клавиатуры.
                            Отображает текст моноширинным шрифтом.</p>
                        <p>Элемент «pre»: Позволяет вывести текст на экран, сохранив изначальное форматирование.
                            Пробелы и переносы строк при этом не удаляются.</p>
                        <h3 class="page-heding">Оформления цитат и определений</h3>
                        <p>Элемент «abbr»: Применяется для форматирования аббревиатур. Браузером обычно подчеркивается
                            пунктирной линией. Расшифровка сокращения осуществляется с помощью атрибута title,
                            она появляется при наведении курсора мыши на текст.</p>
                        <p>Элемент «dfn»: Позволяет выделить текст как определение.
                            Несмотря на наличие данного элемента, рекомендуется выделять текст силами CSS.
                            Для элемента доступен атрибут title.</p>
                        <h3 class="page-heding">Абзацы и перенос текста</h3>
                        <p>Элемент «br»: Переносит текст на следующую строку, создавая разрыв строки.</p>
                        <p>Элемент «hr»: Используется для разделения контента на веб-странице.
                            Отображается в виде горизонтальной линии.</p>
                    </div>
                </form>
            </section>
        </div>
    </main>
</body>
</html>
