<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренажёр по языкам программированиям</title>
        <link rel="icon" href="{{ url_for('static', filename='imog/nebo.jpg') }}" type="image/x-icon" />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='imog/nebo.jpg') }}"
            type="image/x-icon"
        />
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <h1 class="page-heading">Python</h1>
        </div>
    </header>
    <main class="container">
        <div class="game-zones">
            <section class="form-wrapper">
                <h3 class="from-h3">
                    Python - высокоуровневый язык программирования общего назначения с динамической строгой типизацией и
                    автоматическим управлением памятью, ориентированный на повышение производительности разработчика,
                    читаемости кода и его качества, а также на обеспечение переносимости написанных на нём программ.
                </h3>
                <form id="heroForm" class="form">
                    <a href={{url_for('static', filename='fail/python.pdf')}} class="form-a">Шпаргалка</a>
                    <a href={{url_for("python_1")}} class="form-a">ЗНАКОМСТВО СО СРЕДОЙ</a>
                </form>
            </section>
        </div>
    </main>
</body>
</html>