<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренажёр по языкам программированиям</title>
        <link rel="icon" href="{{ url_for('static', filename='imog/nebo.jpg') }}" type="image/x-icon" />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='imog/nebo.jpg') }}"
            type="image/x-icon"
        />
    <link href="{{ url_for('static', filename='css/python.css') }}" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <h1 class="page-heading">Знакомство со средой</h1>
        </div>
    </header>
    <main class="container">
        <div class="game-zones">
            <section class="form-wrapper">
                <form id="heroForm" class="form">
                    <div class="form-div">
                        <h1 class="page-heding">Введение</h1>
                        <p>Программа — список команд, то есть инструкций для компьютера:
                            отобразить что-нибудь на экране, вычислить что-нибудь и т.д.
                            В вашем компьютере много разных программ. Программа-браузер показывает вам страницы в Интернете,
                            программа-плеер проигрывает музыку,Word позволяет редактировать тексты,
                             игры развлекают вас, вирусы мешают — и все это программы.
                             Чтобы создать страницу на сайте в Интернете,
                              которую получит и покажет ваш браузер (например, вашу страничку «ВКонтакте» или результаты поиска в Яндексе),
                               компьютер, на котором работает этот сайт, часто тоже выполняет какую-то программу.
                            Есть разные способы записать программу. Однако наиболее удобная для компьютера форма записи в виде
                            машинногокода неудобна для человека. Поэтому для составления программ придумали языки программирования.
                        </p>
                        <h1 class="page-heding">Команда print()</h1>
                        <p>Внутри круглых скобок через запятую мы указываем то, что необходимо вывести на экран. Если это какой-то текст, указываем его внутри кавычек. Кавычки могут быть как одинарными, так и двойными. Главное, чтобы текст начинался и заканчивался кавычками одного типа. Команда print записывается только строчными буквами,
                            другое написание недопустимо, так как в Python строчные и заглавные буквы различны.</p>
                        <h1 class="page-heding">Команда input()</h1>
                        <p>Она всегда пишется с круглыми скобками. Команда работает так: когда программа доходит до места, где есть input(),
                             она ждет, пока пользователь введет строку с клавиатуры (ввод завершается нажатием клавиши Enter). Введенная строка подставляется на место input().</p>
                        <h1 class="page-heding">Имя переменной и Значение переменной</h1>
                        <p>Имя переменной должно отражать ее назначение и может состоять из латинских букв, цифр и символа подчеркивания.
                            Имя не может начинаться с цифры.Команду name = input() можно считать так: «Подожди, пока пользователь введет какую-то строку и помести введенную строку в переменную name».
                            Значение переменной — то, что сохраняет в себе переменная.Знак «=» обозначает команду под названием «оператор присваивания». Оператор присваивания присваивает значение, которое
                             находится справа от знака равно, переменной, которая находится слева от знака равно.</p>
                    </div>
                    <a href={{url_for("l1")}} class="form-al">  задание 1 </a>
                    <a href={{url_for("l2")}} class="form-al">  задание 2 </a>
                    <a href={{url_for("l3")}} class="form-al">  задание 3 </a>
                </form>
            </section>
        </div>
    </main>
</body>
</html>
